.contact {
    a.linkcontact {
        color: #fff !important;
        display: flex;
        text-decoration: none !important;
        svg {
            margin-right: 5px;
        }
    }
    a.linkcontact:hover {
        text-decoration: underline !important;
    }
}